--
-- PostgreSQL database dump
--

\restrict WilMLukSkHzRn5nvaTbT4lCIhbjXIqQBl6NMCAKFZAsOqxWFC1Jz4crMR9x0w9W

-- Dumped from database version 15.8
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: chloesvault; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA chloesvault;


ALTER SCHEMA chloesvault OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.activity (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    emoji text NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE chloesvault.activity OWNER TO postgres;

--
-- Name: collage_photos; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.collage_photos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    url text NOT NULL,
    caption text,
    added_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT collage_photos_added_by_check CHECK ((added_by = ANY (ARRAY['michael'::text, 'chloe'::text])))
);


ALTER TABLE chloesvault.collage_photos OWNER TO postgres;

--
-- Name: message_notes; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.message_notes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    message_id uuid NOT NULL,
    text text NOT NULL,
    added_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT message_notes_added_by_check CHECK ((added_by = ANY (ARRAY['michael'::text, 'chloe'::text])))
);


ALTER TABLE chloesvault.message_notes OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_user text NOT NULL,
    type text NOT NULL,
    text text,
    voice_url text,
    duration integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT messages_from_user_check CHECK ((from_user = ANY (ARRAY['michael'::text, 'chloe'::text]))),
    CONSTRAINT messages_type_check CHECK ((type = ANY (ARRAY['text'::text, 'voice'::text])))
);


ALTER TABLE chloesvault.messages OWNER TO postgres;

--
-- Name: moments; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.moments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    date date NOT NULL,
    emoji text NOT NULL,
    description text NOT NULL,
    added_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT moments_added_by_check CHECK ((added_by = ANY (ARRAY['michael'::text, 'chloe'::text])))
);


ALTER TABLE chloesvault.moments OWNER TO postgres;

--
-- Name: nightmares; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.nightmares (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    text text NOT NULL,
    about text NOT NULL,
    added_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT nightmares_about_check CHECK ((about = ANY (ARRAY['michael'::text, 'chloe'::text]))),
    CONSTRAINT nightmares_added_by_check CHECK ((added_by = ANY (ARRAY['michael'::text, 'chloe'::text])))
);


ALTER TABLE chloesvault.nightmares OWNER TO postgres;

--
-- Name: quotes; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.quotes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    text text NOT NULL,
    author text NOT NULL,
    category text NOT NULL,
    month text NOT NULL,
    added_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT quotes_added_by_check CHECK ((added_by = ANY (ARRAY['michael'::text, 'chloe'::text]))),
    CONSTRAINT quotes_category_check CHECK ((category = ANY (ARRAY['racist'::text, 'out_of_context'::text, 'libtard'::text])))
);


ALTER TABLE chloesvault.quotes OWNER TO postgres;

--
-- Name: recommendations; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.recommendations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    category text NOT NULL,
    from_user text NOT NULL,
    emoji text NOT NULL,
    done boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    link text,
    CONSTRAINT recommendations_category_check CHECK ((category = ANY (ARRAY['movie'::text, 'book'::text, 'song'::text, 'show'::text, 'podcast'::text, 'other'::text]))),
    CONSTRAINT recommendations_from_user_check CHECK ((from_user = ANY (ARRAY['michael'::text, 'chloe'::text])))
);


ALTER TABLE chloesvault.recommendations OWNER TO postgres;

--
-- Name: topics; Type: TABLE; Schema: chloesvault; Owner: postgres
--

CREATE TABLE chloesvault.topics (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    text text NOT NULL,
    used boolean DEFAULT false NOT NULL,
    added_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT topics_added_by_check CHECK ((added_by = ANY (ARRAY['michael'::text, 'chloe'::text])))
);


ALTER TABLE chloesvault.topics OWNER TO postgres;

--
-- Name: activity activity_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.activity
    ADD CONSTRAINT activity_pkey PRIMARY KEY (id);


--
-- Name: collage_photos collage_photos_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.collage_photos
    ADD CONSTRAINT collage_photos_pkey PRIMARY KEY (id);


--
-- Name: message_notes message_notes_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.message_notes
    ADD CONSTRAINT message_notes_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: moments moments_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.moments
    ADD CONSTRAINT moments_pkey PRIMARY KEY (id);


--
-- Name: nightmares nightmares_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.nightmares
    ADD CONSTRAINT nightmares_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: recommendations recommendations_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.recommendations
    ADD CONSTRAINT recommendations_pkey PRIMARY KEY (id);


--
-- Name: topics topics_pkey; Type: CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.topics
    ADD CONSTRAINT topics_pkey PRIMARY KEY (id);


--
-- Name: idx_activity_created_at; Type: INDEX; Schema: chloesvault; Owner: postgres
--

CREATE INDEX idx_activity_created_at ON chloesvault.activity USING btree (created_at);


--
-- Name: idx_message_notes_message; Type: INDEX; Schema: chloesvault; Owner: postgres
--

CREATE INDEX idx_message_notes_message ON chloesvault.message_notes USING btree (message_id);


--
-- Name: idx_messages_created_at; Type: INDEX; Schema: chloesvault; Owner: postgres
--

CREATE INDEX idx_messages_created_at ON chloesvault.messages USING btree (created_at);


--
-- Name: idx_moments_date; Type: INDEX; Schema: chloesvault; Owner: postgres
--

CREATE INDEX idx_moments_date ON chloesvault.moments USING btree (date);


--
-- Name: idx_quotes_category_month; Type: INDEX; Schema: chloesvault; Owner: postgres
--

CREATE INDEX idx_quotes_category_month ON chloesvault.quotes USING btree (category, month);


--
-- Name: idx_quotes_month; Type: INDEX; Schema: chloesvault; Owner: postgres
--

CREATE INDEX idx_quotes_month ON chloesvault.quotes USING btree (month);


--
-- Name: message_notes message_notes_message_id_fkey; Type: FK CONSTRAINT; Schema: chloesvault; Owner: postgres
--

ALTER TABLE ONLY chloesvault.message_notes
    ADD CONSTRAINT message_notes_message_id_fkey FOREIGN KEY (message_id) REFERENCES chloesvault.messages(id) ON DELETE CASCADE;


--
-- Name: activity Allow all access to activity; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to activity" ON chloesvault.activity TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: collage_photos Allow all access to collage_photos; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to collage_photos" ON chloesvault.collage_photos TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: message_notes Allow all access to message_notes; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to message_notes" ON chloesvault.message_notes TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: messages Allow all access to messages; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to messages" ON chloesvault.messages TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: moments Allow all access to moments; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to moments" ON chloesvault.moments TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: quotes Allow all access to quotes; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to quotes" ON chloesvault.quotes TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: recommendations Allow all access to recommendations; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to recommendations" ON chloesvault.recommendations TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: topics Allow all access to topics; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all access to topics" ON chloesvault.topics TO authenticated, anon USING (true) WITH CHECK (true);


--
-- Name: nightmares Allow all for authenticated; Type: POLICY; Schema: chloesvault; Owner: postgres
--

CREATE POLICY "Allow all for authenticated" ON chloesvault.nightmares USING (true) WITH CHECK (true);


--
-- Name: activity; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.activity ENABLE ROW LEVEL SECURITY;

--
-- Name: collage_photos; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.collage_photos ENABLE ROW LEVEL SECURITY;

--
-- Name: message_notes; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.message_notes ENABLE ROW LEVEL SECURITY;

--
-- Name: messages; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.messages ENABLE ROW LEVEL SECURITY;

--
-- Name: moments; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.moments ENABLE ROW LEVEL SECURITY;

--
-- Name: nightmares; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.nightmares ENABLE ROW LEVEL SECURITY;

--
-- Name: quotes; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.quotes ENABLE ROW LEVEL SECURITY;

--
-- Name: recommendations; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.recommendations ENABLE ROW LEVEL SECURITY;

--
-- Name: topics; Type: ROW SECURITY; Schema: chloesvault; Owner: postgres
--

ALTER TABLE chloesvault.topics ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA chloesvault; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA chloesvault TO anon;
GRANT USAGE ON SCHEMA chloesvault TO authenticated;
GRANT USAGE ON SCHEMA chloesvault TO service_role;


--
-- Name: TABLE activity; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.activity TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.activity TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.activity TO service_role;


--
-- Name: TABLE collage_photos; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.collage_photos TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.collage_photos TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.collage_photos TO service_role;


--
-- Name: TABLE message_notes; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.message_notes TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.message_notes TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.message_notes TO service_role;


--
-- Name: TABLE messages; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.messages TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.messages TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.messages TO service_role;


--
-- Name: TABLE moments; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.moments TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.moments TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.moments TO service_role;


--
-- Name: TABLE nightmares; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.nightmares TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.nightmares TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.nightmares TO service_role;


--
-- Name: TABLE quotes; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.quotes TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.quotes TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.quotes TO service_role;


--
-- Name: TABLE recommendations; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.recommendations TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.recommendations TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.recommendations TO service_role;


--
-- Name: TABLE topics; Type: ACL; Schema: chloesvault; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.topics TO anon;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.topics TO authenticated;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE chloesvault.topics TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: chloesvault; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA chloesvault GRANT SELECT,USAGE ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA chloesvault GRANT SELECT,USAGE ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA chloesvault GRANT SELECT,USAGE ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: chloesvault; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA chloesvault GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA chloesvault GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA chloesvault GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict WilMLukSkHzRn5nvaTbT4lCIhbjXIqQBl6NMCAKFZAsOqxWFC1Jz4crMR9x0w9W

